<!doctype html>

<html>

  <head>
    <title>YouTube Comments+</title>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>

  <body>
    <div id="wrapper">
      <header class="shadow topbar">
        <h1>YT Comments+</h1>
      </header>
      <main>
        <section class="shadow info">
          <header>
            <h2>Youtube Comments+ Update!</h2>
            <div class="body">
              <p>
                Hey there! Youtube Plus Filter has been renamed to YouTube Comments+!
              </p>
              <p>
                This update is the first step towards making a better comments section, with several features requested
                by you. Lots of users have asked for different things, and together they simply make a better comments
                section rather than just fiter out plusses, hence the name change.
              </p>
              <p>
                YT Comments+ <a href="https://github.com/MelvIsntNormal/YTCommentsPlus">now has a GitHub!</a> If you would
                like to help with the development of this extension, just head over there and start contributing.
              </p>
            </div>
          </header>
        </section>
      </main>
    </div>
  </body>

</html>